.category-right .css-1gkwhev{
    position: fixed;
    top: 75px;
    width: 50%;
}
.category-right .css-mvss1a,
.category-right .css-0,
.category-right .css-8atqhb,
.category-right .css-1d98dbz-MuiCollapse-root,
.category-right .css-18w3a48-MuiCollapse-wrapper,
.category-right .css-14vyde3-MuiCollapse-wrapperInner{
    width: 100% !important;
}
.category-right .css-j7955y-MuiPaper-root-MuiCard-root {
    width: 80%;
}

