.master-container {
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, .87);
    -webkit-box-direction: normal;

    font-family: roboto, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .12);
    margin-top: 30px;
    margin-left: 15px;
}


input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

.userPhoneInputMessage {
    display: none;
}

#phone:invalid ~ .userPhoneInputMessage {
    color: red;
    display: block;
}

.nameErrorMessage {
    display: none;
}

#name:invalid ~ .userPhoneInputMessage {
    color: red;
    display: block;
}

#email:invalid ~ .emailErrorMessage {
    color: red;
    display: block;
}

.emailErrorMessage {
    display: none;
}

.btnUpdateProfile :disabled {
    background-color: gray;
}

